.CartSider{
    background-color: white;
    margin-right: 10px;
    padding: 20px;
}
.CartSider button{
    background-color: rgb(235, 157, 54);
    border: 1px solid rgb(240, 177, 96);
    color: white;
    text-align: center;
    border: none;
    /* height: 30px; */
    padding: 4px;
}
.CartSider button:hover{
    background-color: rgb(240, 166, 70);
    /* border: 1px solid rgb(243, 190, 122); */
}