.footerNav_about{

}
.backtotop_button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #ffff;
    /* background-color:#004B91; */
    background-color: #333c47f5;
    font-weight: 500;
}
.footerNav_links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: #232F3E;
}
.footerNav_col{
    display: flex;
    flex-direction: column;
}
.footerNav_col a{
    color: white;
}
.footerNav_col a:nth-child(1){
    font-weight: 600;
    font-size: 1rem;
}
.footerNav_language{
    background-color: #232F3E;
    color: white;
    border: 1px solid #33373df5;
    padding : 10px;
}
.footerNav_language div{
    text-align: center;
    margin: 20px;
}
.footerNav_language img{
    width: 70px;
    margin-right: 20px;
}
.footerNav_language button{
    margin-left: 20px;
}
.footer_country{
    display: flex;
    justify-content: space-evenly;
   
}
.footer_country a{
    color:white 
}

.footer_companyTerma{
    text-align: center;
    margin: 20px;
}
.footer_services{
    font-size: 9px;
    line-height: 3px;
}
.footer_services div p:nth-child(1){
    font-weight: 600;
    font-size: 11px;
}